body { line-height: 1; }


label { cursor: pointer; }

button,input,select,textarea
{
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

button,input { line-height: normal; }

button,input[type=button],input[type=reset],input[type=submit]
{
	cursor: pointer;
	-webkit-appearance: button;
}

input[type=checkbox],input[type=radio] { box-sizing: border-box; }

textarea
{
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

a
{
	text-decoration: none;
	color: inherit;
}

a:active,a:hover { outline: 0; }
img { -ms-interpolation-mode: bicubic; }

button,input,select,textarea
{
	padding: 0;
	font-family: inherit;
}

body
{
	font-family: -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
	font-size: 16px;
	line-height: 1.333;
	color: #303336;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	overflow-y: scroll;
}

body,input,textarea { -webkit-font-smoothing: antialiased; }
b,strong { font-weight: 700; }
em,i { font-style: italic; }
code { font-family: Menlo,'Andale Mono',monospace; }

.page
{
	position: relative;
	background-color: #fff;
	overflow: hidden;
}

.slice.has-spacing { padding: 80px 0; }

.container
{
	margin: 0 auto;
	padding-left: calc(env(safe-area-inset-left) + 4%);
	padding-right: calc(env(safe-area-inset-right) + 4%);
}

.container { max-width: 810px; }
.container.is-compact { max-width: 560px; }

@media screen and (min-width:1106px)
{
	.container.is-wide { max-width: 1024px; }
}

.container.is-fixed
{
	max-width: none;
	width: 810px;
}

.container.is-fixed.is-compact { width: 560px; }
.container.is-fixed.is-wide { width: 1024px; }
.container.is-fluid,.container.is-fluid.is-wide { max-width: none; }
.container.has-no-safety-padding { padding: 0; }

.container.is-full-bleed
{
	max-width: 100%;
	padding: 0;
}

@media screen and (max-width:370px)
{
	.container.if-below-narrow-is-full-bleed
	{
		max-width: 100%;
		padding: 0;
	}
}

@media screen and (max-width:605px)
{
	.container.if-below-compact-is-full-bleed
	{
		max-width: 100%;
		padding: 0;
	}
}

@media screen and (max-width:875px)
{
	.container.if-below-regular-is-full-bleed
	{
		max-width: 100%;
		padding: 0;
	}
}

.document
{
	position: relative;
	font-size: 18px;
	line-height: 1.4;
	font-family: ff-tisa-web-pro,'Tisa Pro',Georgia,serif;
	color: #303336;
}

.b,.document b,.document strong,.strong { font-weight: 700; }
.b.is-sans { font-family: -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif; }
.document em,.document i,.em,.i { font-style: italic; }

.a,.document a
{
	color: #2474e5;
	text-decoration: none;
	cursor: pointer;
}

.a:hover,.document a:hover { text-decoration: underline; }

.a.is-weak
{
	color: inherit;
	text-decoration: underline;
}

.a.is-weak:hover
{
	color: #2474e5;
	text-decoration: underline;
}

.a.is-underlined { text-decoration: underline; }

.document h1,.h1
{
	margin-top: 3em;
	font-size: 36px;
	line-height: 1.1;
	padding-top: 15px;
	padding-bottom: 45px;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
	font-weight: 700;
	color: #303336;
}

.document .h1:first-child,.document h1:first-child
{
	margin-top: 0;
	padding-top: 0;
}

.document h2,.h2
{
	font-size: 24px;
	line-height: 1.25;
	padding-top: 47px;
	padding-bottom: 23px;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
	font-weight: 700;
	color: #303336;
}

.document h3,.h3
{
	font-size: 19px;
	line-height: 1.4;
	padding-top: 24px;
	padding-bottom: 24px;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
	font-weight: 700;
	color: #303336;
}

.document h4,.h4
{
	font-family: -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
	font-weight: 700;
	color: #303336;
}

.document h1+h2,.document h2+h3,.h1+.h2,.h2+.h3 { margin-top: -25px; }

.h1.is-strong
{
	border-bottom: 1px solid rgba(4,15,26,.15);
	padding-bottom: 10px;
	margin-bottom: 36px;
}

.h2.is-strong
{
	margin-top: 3em;
	border-bottom: 1px solid rgba(4,15,26,.15);
	padding-bottom: 10px;
	margin-bottom: 23px;
}

.button,.document .button,.document button,.document input[type=button],.document input[type=submit]
{
	display: inline-block;
	zoom: 1;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	font-size: 17px;
	line-height: normal!important;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
	color: #fff;
	background: #9399a5;
	border: 1px solid transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: box-shadow .1s ease-out;
	-moz-transition: box-shadow .1s ease-out;
	-o-transition: box-shadow .1s ease-out;
	transition: box-shadow .1s ease-out;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
	font-weight: 600;
}

.button:hover,.document .button:hover,.document button:hover,.document input[type=button]:hover,.document input[type=submit]:hover { text-decoration: underline; }
.button:hover,.document .button:hover,.document button:hover,.document input[type=button]:hover,.document input[type=submit]:hover { text-decoration: none; }

.button:hover,.document .button:hover,.document button:hover,.document input[type=button]:hover,.document input[type=submit]:hover
{
	background: #5c9cf5;
	border-color: #5296f4;
	text-decoration: none;
}

.button:active,.document .button:active,.document button:active,.document input[type=button]:active,.document input[type=submit]:active
{
	border-color: #5296f4;
	background: #2c7ef2;
}

.button:focus,.document .button:focus,.document button:focus,.document input[type=button]:focus,.document input[type=submit]:focus
{
	-webkit-box-shadow: 0 0 0 2px rgba(92,156,245,.5);
	-moz-box-shadow: 0 0 0 2px rgba(92,156,245,.5);
	-o-box-shadow: 0 0 0 2px rgba(92,156,245,.5);
	-ms-box-shadow: 0 0 0 2px rgba(92,156,245,.5);
	box-shadow: 0 0 0 2px rgba(92,156,245,.5);
	outline: 0;
}

.button.is-strong,.button.style-strong
{
	text-align: center;
	color: #fff;
	background: #5c9cf5;
	border: 1px solid transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: box-shadow .1s ease-out;
	-moz-transition: box-shadow .1s ease-out;
	-o-transition: box-shadow .1s ease-out;
	transition: box-shadow .1s ease-out;
}

.button.is-strong:hover,.button.style-strong:hover
{
	background: #5296f4;
	text-decoration: none;
}

.button.is-strong:active,.button.style-strong:active { background: #3a87f2; }

.button.is-strong:focus,.button.style-strong:focus
{
	-webkit-box-shadow: 0 0 0 2px rgba(92,156,245,.5);
	-moz-box-shadow: 0 0 0 2px rgba(92,156,245,.5);
	-o-box-shadow: 0 0 0 2px rgba(92,156,245,.5);
	-ms-box-shadow: 0 0 0 2px rgba(92,156,245,.5);
	box-shadow: 0 0 0 2px rgba(92,156,245,.5);
	outline: 0;
}

.button.is-outline,.button.style-outline
{
	text-align: center;
	color: rgba(0,0,0,.3);
	background: 0 0;
	border: 1px solid rgba(0,0,0,.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font-weight: 500;
}

.button.is-outline:hover,.button.style-outline:hover
{
	color: #79a9ec;
	background: rgba(121,169,236,.2);
	border-color: #79a9ec;
	text-decoration: none;
}

.button.is-outline:active,.button.style-outline:active { background: rgba(121,169,236,.3); }

.button.is-outline:focus,.button.style-outline:focus
{
	-webkit-box-shadow: 0 0 0 2px rgba(121,169,236,.5);
	-moz-box-shadow: 0 0 0 2px rgba(121,169,236,.5);
	-o-box-shadow: 0 0 0 2px rgba(121,169,236,.5);
	-ms-box-shadow: 0 0 0 2px rgba(121,169,236,.5);
	box-shadow: 0 0 0 2px rgba(121,169,236,.5);
	outline: 0;
}

.button.is-large
{
	padding: 8px 1.5em;
	font-size: 18px;
}

.button.is-disabled,.button:disabled
{
	opacity: .4;
	-webkit-filter: saturate(0);
	cursor: not-allowed;
}

.document input[type=text],.document input[type=email],.document input[type=password],.textfield
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	font-size: 17px;
	line-height: normal!important;
}

.document textarea,.textarea
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	font-size: 17px;
	line-height: normal!important;
	height: 90px;
}

.document input[type=text],.document input[type=email],.document input[type=password],.document textarea,.textarea,.textfield
{
	margin: 2px 0;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
	background: #fff;
	border: 1px solid #aaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.25),0 1px 3px transparent inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.25),0 1px 3px transparent inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,.25),0 1px 3px transparent inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,.25),0 1px 3px transparent inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.25),0 1px 3px transparent inset;
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
}

.document input[type=text]:active,.document input[type=email]:active,.document input[type=password]:active,.document textarea:active,.textarea:active,.textfield:active { background-color: #fafafa; }

.document input[type=text]:focus,.document input[type=email]:focus,.document input[type=password]:focus,.document textarea:focus,.textarea:focus,.textfield:focus
{
	border-color: #5095f7;
	outline: 0;
	-webkit-box-shadow: 0 0 0 2px rgba(80,149,247,.7),0 1px 3px rgba(0,0,0,.1) inset;
	-moz-box-shadow: 0 0 0 2px rgba(80,149,247,.7),0 1px 3px rgba(0,0,0,.1) inset;
	-o-box-shadow: 0 0 0 2px rgba(80,149,247,.7),0 1px 3px rgba(0,0,0,.1) inset;
	-ms-box-shadow: 0 0 0 2px rgba(80,149,247,.7),0 1px 3px rgba(0,0,0,.1) inset;
	box-shadow: 0 0 0 2px rgba(80,149,247,.7),0 1px 3px rgba(0,0,0,.1) inset;
}
